
* {
	font-family: Operator Mono;
}
.shadow-soft {
    /* box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff!important; */
	/* box-shadow: none; */
    background-color: #e6e7ee;
}
[class*=shadow] {
    transition: all .2s ease;
}

button.accordion-button:focus {
	box-shadow: none !important;
	/* background-color: #fff !important; */
}
.accordion-button:not(.collapsed) {
    /* color: #0c63e4; */
    background-color: #e6e7ee;
    /* box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff!important; */
}
.accordion-body {
	font-weight: 100;

}

.accordion-button {
	background-color: #e6e7ee;
}.accordion-button:hover{
	background-color: #e6e7ee;
	/* color-interpolation-filters: inherit; */
	/* box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff!important; */
}