

.search {
  border-color: #20c997;
  box-shadow: none !important;
  background-color: transparent;
  border: 2px solid #20c997;
  width: inherit;
  transition: .2s linear;
}

.search:focus {
  border-color: #20c997;
  background-color: transparent;
  color: #20c997;
  transition: .2s linear;
}

.btn-coustom {
  background-color: #20c997;
  border-color: #20c997;
  color: #fff;
  box-shadow: none !important;
}

.btn-coustom:hover {
  background-color: #20c997;
  border-color: #20c997;
}


.navbar-brand{
	margin-left: 20px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: Operator Mono;
}

.navbar-brand>span{
    font-weight: 400;
}

ul > li {
	font-family: Operator Mono;
}

.search-box {
    margin-right: 20px;
}

.toggle {
	border: none;
	box-shadow: none !important;
	outline: none !important;
	/* border-radius: ; */
}
.radious {
	border-radius: 5px;
}